setuptools==63.4.1
wheel==0.37.1
opencv-python==4.5.5.64
tensorflow==2.3.0
torch==1.12.1
flask==2.2.2
pyjwt==2.6.0
pyzmq==24.0.1
pandas
ipython==8.5.0
pillow==9.0.1
torchvision==0.13.1
tqdm==4.64.1
matplotlib==3.5.3
seaborn==0.12.0
psutil==5.9.2
paho-mqtt==1.6.1
numpy
opencv-contrib-python==4.6.0.66
mediapipe==0.8.10.1
imutils==0.5.4
face-recognition==1.3.0
face-recognition-models==0.3.0